.aboutMeHeader {
    background-color: #ffff;
    color: gray;
    border-bottom: gray solid 2px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 40px;
}

p {
    text-align: left;
}