h1 {
    background-color: cadetblue;
    color: #ffff;
    margin: 0;
    width: 350px;
}

.myName {
    border-bottom: solid 2px cadetblue;
}

.navHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: cadetblue solid 2px;
    
}

.navbar-brand {
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color: cadetblue;
}